.mytabs label.dark-mode {
	background-color: yellow
}
.mytabs input.dark-mode {
	background-color: blue
}
.mytabs.dark-mode input[type=radio]:checked + label {
	background-color: red;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff
}
.mytabs.dark-mode input[type=radio] + label {
	background-color: pink;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000
}

.mytabs .tab.dark-mode {
	background-color: #000;
	border: 1px solid #fff
}
.mytabs.dark-mode {
	background-color: #000
}

.mytabs.dark-mode img {
  filter: brightness(.5) invert()
}



.mytabs label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: calc(100% + 2px);
  z-index: 10;
  opacity: 0;
  background-color: #fff;
  z-index: -1
}

body.dark-mode .mytabs label::before {
  background-color: #000
}

.mytabs input[type=radio]:checked + label::before {
  opacity: 1
}

body.dark-mode .mytabs input[type=radio]:checked + label::before {
  opacity: 1
}

.mytabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 20px auto;
	padding: 25px
}
.mytabs input[type=radio] {
	display: none
}
.mytabs label {
	position: relative;
	padding: 1em 1.5em 1em 1.5em;
	background: #BC986A;
	font-weight: 700;
	font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}

.mytabs .tab {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-left-radius: 0;
	order: 1;
	display: none;
	border-top: 4px solid #659dbd; /*mew*/
	border-right: 4px solid #659dbd; /*mew*/
	border-left: 4px solid #659dbd; /*mew*/
	border-bottom: 4px solid #659dbd /*mew*/
}
.mytabs .tab h2 {
	font-size: 3em;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}
.mytabs input[type=radio]:checked + label + .tab {
	display: block
}

.mytabs input[type=radio]:checked + label {
	background-color: #fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-left: 4px solid #659dbd; /*mew*/
	border-right: 4px solid #659dbd; /*mew*/
	border-top: 4px solid #659dbd /*mew*/
	z-index: 1;
}