body {
  background: #daad86;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll
}

.content-wrap {
  flex: 1
}
overlayBg html {
	overflow-y: scroll
}

audio {
    height: 25px
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #659DBD
}

.dark-mode audio::-webkit-media-controls-panel, .dark-mode video::-webkit-media-controls-panel {
  background-color: #fff
}

.stopandhidebtn.dark-mode {
  filter: brightness(.5) invert()
}

#dark-mode-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.grid-container {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr
}

.dark-mode #toggle-dark-mode path:first-child {
  fill: #fff;
}

.mytabs label.dark-mode, .tabs-container label.dark-mode {
	background-color: #000
}
.mytabs input.dark-mode, .tabs-container input.dark-mode {
	background-color: #000
}
.mytabs.dark-mode input[type=radio]:checked + label, .tabs-container.dark-mode input[type=radio]:checked + label {
	background-color: #000;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff
}
.mytabs.dark-mode input[type=radio] + label, .tabs-container.dark-mode input[type=radio] + label {
	background-color: #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000
}

.mytabs .tab.dark-mode, .tabs-container .tab.dark-mode {
	background-color: #000;
	border: 1px solid #fff
}
.mytabs.dark-mode, .tabs-container.dark-mode {
	background-color: #000
}

.mytabs.dark-mode img, .tabs-container.dark-mode img {
  filter: brightness(.5) invert()
}

.mytabs label::before, .tabs-container label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: calc(100% + 2px);
  opacity: 0;
  background-color: #fff;
  z-index: -1
}

body.dark-mode .mytabs label::before, body.dark-mode .tabs-container label::before {
  background-color: #000
}

.mytabs input[type=radio]:checked + label::before, .tabs-container input[type=radio]:checked + label::before {
  opacity: 1
}

body.dark-mode .mytabs input[type=radio]:checked + label::before, body.dark-mode .tabs-container input[type=radio]:checked + label::before {
  opacity: 1
}

.tabs-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 750px;
	margin: 10px auto; /*20*/
	padding: 25px
}

.mytabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 20px auto;
	padding: 25px
}
.mytabs input[type=radio], .tabs-container input[type=radio] {
	display: none
}
.mytabs label, .tabs-container label {
	position: relative;
	padding: 1em 1.5em 1em 1.5em;
	background: #BC986A;
	font-weight: 700;
	font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}

.tabs-container .tab { /*main active tab*/
	width: 100%;
	padding: 20px;
	background-color: #fff;  /*#659DBD;*/
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-left-radius: 0;
	order: 1;
	display: none
}

.mytabs .tab {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-left-radius: 0;
	order: 1;
	display: none;
	border-top: 1px solid #659dbd; /*mew*/
	border-right: 1px solid #659dbd; /*mew*/
	border-left: 1px solid #659dbd; /*mew*/
	border-bottom: 1px solid #659dbd /*mew*/
}
.mytabs .tab h2, .tabs-container .tab h2 {
	font-size: 3em;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px
}
.mytabs input[type=radio]:checked + label + .tab, .tabs-container input[type=radio]:checked + label + .tab {
	display: block
}

.tabs-container input[type=radio]:checked + label {
	background-color: #fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	z-index: 1
}

.mytabs input[type=radio]:checked + label {
	background-color: #fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-left: 1px solid #659dbd;
	border-right: 1px solid #659dbd;
	border-top: 1px solid #659dbd;
	z-index: 1
}

.divTableRow.dark-mode:hover {
	background-color: #d3d3d3;
	color: #000
}
.divTableRow.dark-mode:hover img {
  filter: brightness(.5) invert(0)
}

.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #659DBD;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #BC986A;
	align-items: center;
	z-index: 997
}

#header.show {
  opacity: 0
}
.header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%
}

.header-top h1 {
  font-size: 1.5rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .header-top h1 {
    font-size: 1.5rem;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 800px) {
  .scrolled-icons {
  display: flex;
  margin-left: 20px;
  padding-right: 20px;
  align-items: flex-start
  }
  .links {
  display: none;
  }
}


/* Small screens (mobile devices) */
@media (max-width: 700px) {

  .quote-container {
    display: none
  }
  header .links {
  display: none
  }
  .header-top h1 {
    font-size: 1.2rem
  }
}

/* Small screens (mobile devices) */
@media (max-width: 480px) {
  .header-top h1 {
    font-size: 1rem
  }
}

.header.dark-mode {
	background-color: #000;
	border-bottom: 1px solid #ccc
}
header.scrolled {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

header.scrolled h1 {
  font-size: 30px
}

header.scrolled .links {
  display: none
}

header.grid-child {
	display:block
}

header.scrolled .icon {
  display: inline-block
}

header.scrolled .menu-icon {
  opacity: 1;
  display: block
}

header.scrolled:hover .menu-icon {
  opacity: 1
}

.quote-container.scrolled {
  display: none
}

.scrolled-icons {
    display: none
}

.scrolled-icons.dark-mode {
  filter: brightness(.5) invert()
}

.header-top.scrolled {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.scrolled-icons.scrolled {
  display: flex;
  margin-left: 20px;
  padding-right: 20px;
  align-items: flex-start
}

.scrolled-icons .icon {
  margin-right: 10px;
  position: relative; /* Add this line to enable individual adjustments */
  width: 22px;
  height: 22px;
  background-size: contain; /* This ensures the background image fits within the div */
  background-repeat: no-repeat
}

.scrolled-icons .about-icon {
  top: 0 /* Adjust this value to align the about-icon */
}

.scrolled-icons .contact-icon {
  top: 1px /* Adjust this value to align the contact-icon */
}

header h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  transition: all .2s ease-in-out
}

.header-top.scrolled h1 {
  margin-right: 40px
}
.header-top.scrolled .links {
  margin-right: 40px
}

header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto
}

.header-button {
  background-color: #f9f9f9;
  border: 1px solid #8d8741;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  margin-right: 10px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color .5s
}

.header-button:hover {
  background-color: #e6e6e6
}

.header-button.dark-mode {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff
}

header .icon {
  display: none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain
}

header .about-icon {
  background-image: url(/img/about.svg)
}

header .missing-icon {
  background-image: url(/img/missing.svg)
}

header .contact-icon {
  background-image: url(/img/contact.svg)
}

header .menu-icon {
  background-image: url(/img/mp3.svg)
}
.content {
  margin-top: 150px;
  flex: 1 0 auto;
  /* add more styles here as needed */
}

.latest {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #BC986A;/*#ccc;*/
  border-radius: 6px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: #FBEEC1;/*#f0f0f0;*/
  color: #000;
  margin: 1em auto 0 auto;
  position: relative;
}

.close-latest {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-decoration: none;
}

.latest-img {
  background-color: #BC986A;
  border-radius: 50%; 
}

.latest a {
  color: #8d8741;
  text-decoration: none;
  font-weight: 700
}

.latest a.dark-mode {
	color: #fff;
}

.latest a:hover {
  text-decoration: underline;
}

.close-latest.dark-mode img {
  filter: brightness(.5) invert();
}

.latest p {
  margin-bottom: 5px; /* Add space between paragraphs */
}

.latestHeader {
  	font-size: 1em;
	font-weight: bolder;
}

.latest.dark-mode {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff
}

.footer {
  color: #fff;
  text-align: center;
  font-size: 11px;
  margin-top: auto /* Pushes the footer to the bottom */
}
footer {
  color: #fff;
  text-align: center;
  font-size: 11px
}

.blockquote a {
  color: #8d8741;
  text-decoration: none;
  font-weight: 700
}

.blockquote a.dark-mode {
	color: #fff;
}

.blockquote a:hover {
  text-decoration: underline;
}

.footer a {
  color: #8d8741;
  text-decoration: none;
  font-weight: 700
}

.footer a.dark-mode {
	color: #fff
}

.footer a:hover {
  text-decoration: underline
}

.art-cell a, .art-link a {
  color: #8d8741;
  text-decoration: none;
  font-weight: 700
}

.art-cell a.dark-mode, .art-link a.dark-mode {
	color: #fff
}

.art-cell a:hover, .art-link a:hover {
  text-decoration: none
}



.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust as needed */
    color: #fff; /* Text color */
    font-size: 1em; /* Adjust font size as needed */
    border-radius: 4px; /* Optional: Adds rounded corners to the background */
}

.image-container .image-text span {
    background-color: #000; /* Background color for each line */
    padding: 0 4px; /* Adjust padding as needed */
    line-height: 2.6; /* Adjust line height as needed */
    display: inline-block; /* Each line as a block */
}

.expand-button {
	background-color: #f9f9f9;
	border-radius: 6px;	
	border: 1px solid #8d8741;
	transform: translateY(-1px)
}

.expand-button img.dark-mode {
  fill: #fff
}

.expand-button.dark-mode {
background-color: #000;
border: solid #fff 1px
}

.expand-icon {
  width: 10px;
  height: 10px;
  fill: #000;
  margin-left: 5px; /* separates the icon and the arrow */
  float: left;
  transition: transform .2s
}

.expand-icon.dark-mode {
  fill: #fff
}

.expand-icon.rotate {
  transform: rotate(90deg)
}

#overlayBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 998
}

.text-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .5)
}

#overlayBg.show {
  background-color: rgba(0, 0, 0, .7)
}

#txt-modal-content {
	display: none;
	position: fixed; /* Change this from absolute to fixed */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #659dbd;
	white-space: pre-wrap;
	z-index: 999;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	/*max-width: 80%;  Optional, limit the content width */
	overflow-y: auto; /* Optional, enable scroll for long content */
	/*max-height: 80%; /* Optional, limit the content height */
	/* transition: transform 0.5s ease, opacity 0.5s ease; */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-left: 10px solid #659dbd;
	text-align: left;
	color: #000;
	backface-visibility: hidden
}

#txt-modal-content.dark-mode {
  background-color: #000;
  border: 1px solid #fff;
  border-left: 10px solid #fff;
  color: #fff
}

.headlinks-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .5)
}

.headlinks-modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #888;
  width: 60%;
  max-width: 800px;
  position: relative
}

.headlinks-modal-content a {
  color: #8d8741;
  text-decoration: none;
  font-weight: bold
}

.headlinks-modal-content a:hover {
  text-decoration: underline
}

.headlinks-modal-content a.dark-mode {
	color: #fff
}

.headlinks-modal-content.dark-mode {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff
}

.headlinks-img {
  background-color: #BC986A;
  border-radius: 50%
}

.headlinks-modal-content.dark-mode img {
  filter: brightness(.5) invert()
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center
}
.contact-container img {
  margin-right: 10px
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-decoration: none
}

.header:not(.scrolled) .floating-audio {
  margin-top: 10px
}


.floating-audio {
  padding-top: 10px
}

.showtitle {
    margin: 20px 0
}

.showheader .showtitle {
  display: flex;
  align-items: center
}

.alignleft {
  flex: 1;
  	float: left;
	font-size: 1.17em;
	font-weight: bolder
}

.alignright {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.subdate {
	margin-top: 20px;
	font-size: 1.17em;
	font-weight: bolder
}

.rss-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px
}

.rss-text {
  margin-right: 5px
}

.rss-img {
  position: relative;
   /* Adjust this value to align the image vertically */
  background-color: #8d8741;
  top: -2px; 
  width: 15px;
  height: 15px;
  vertical-align: middle
}

.clear{
    clear:both
}
.play-button {
  border: 1px solid #8d8741;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f9f9f9;
  transition: background-color .4s
}

.expand-all-button {
  border: 1px solid #8d8741;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f9f9f9;
  transition: background-color .4s
}

.expand-all-button.dark-mode {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff
}

.play-button:hover {
  background-color: #e6e6e6
}

.play-button img.dark-mode {
  fill: #fff
}

.play-button.dark-mode {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff
}

.divTable{
	display: table;
	width: 100%
}
.divTableRow {
  display: flex;
  vertical-align: middle;
  margin-bottom: 2px
}

.divTableRowExpandButton {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
	margin: 5px;
	padding: 5px
}

.divTableRow2 {
	display: table-row;
	vertical-align: middle;
	text-align:left;
	margin: 20px;
	padding: 50px;
	font-size: 14px
}
.divTableRow2 .shownotes {
  padding-right: 50px;
  padding-left: 50px;
  text-align:right
}

.divTableRow2 .shownotes a {
  color: #8d8741;
  text-decoration: none;
  font-weight: bold
}

.divTableRow2 .shownotes a:hover {
  text-decoration: underline
}

.divTableRow2 .shownotes a.dark-mode {
	color: #fff
}

.divTableHeader {
	display: table-row
}
img {
	vertical-align: middle
}
.divTableRow:hover {
	background-color:#fbeec1
}
.divTableRow:hover.dark-mode {
	background-color:#e2e2e2
}
.divTableRow.no-hover:hover {
  background-color: initial
}
.divTableRow.no-hover.dark-mode:hover {
  background-color: initial;
  color: #fff
}
.divTableColumn {
	display: table-column
}

.divTableCell, .divTableHead {
  border: 0px /*solid #999*/;
  /*display: table-cell;*/
  padding: 3px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}
.divTableCell:first-child {
  flex: 0 0 20%;
  justify-content: flex-start;
  text-align: left
}

.divTableCell:nth-child(2) {
  flex: 0 0 15%;
  justify-content: flex-start;
  text-align: left
}

.divTableCell:nth-child(3) {
  flex: 0 0 15%; /* Changed from 75px */
  justify-content: flex-start;
  text-align: left
}

.divTableCell:nth-child(4) {
  flex: 0 0 5%; /* Changed from 75px */
  justify-content: flex-start;
  text-align: left
}

.divTableCell:nth-child(5) {
  flex: 0 0 15%; /* Changed from 75px */
  justify-content: flex-start;
  text-align: left
}

.divTableCell:nth-child(5) a:not(:last-child) {
  margin-right: 5px
}

.divTableCell:not(:first-child):not(:nth-child(5)):not(:last-child) {
  flex-grow: 1
}

.divTableCell:last-child {
  flex: 0 0 15%; /* Changed from 75px */
  justify-content: flex-end
}

.divTableCell:last-child button {
  height: 23px
}

.art-table {
    display: table;
    width: 100%
}

.art-header-row, .art-table-row {
    display: table-row
}

.art-cell {
    display: table-cell;
    padding: 8px;
    text-align: left
}

.art-header:nth-child(1), .art-cell:nth-child(1) { width: 15%; } /* Date */
.art-header:nth-child(2), .art-cell:nth-child(2) { width: 40%; } /* Title */
.art-header:nth-child(3), .art-cell:nth-child(3) { width: 15%; } /* Document Type */
.art-header:nth-child(4), .art-cell:nth-child(4) { width: 30%; } /* Publication */

.art-header {
    font-weight: bold;
	position: relative;
    cursor: pointer;
	display: table-cell;
    padding: 8px;
    text-align: left;
	/*background-color: #f9f9f9;
	border: 1px solid #8d8741;
	border-radius: 6px;
	color: #000;
	margin: 5px;
	margin-right: 10px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	transition: background-color .5s*/
}

.art-header:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%)
}

.dropdown {
    display: none; /* Initially hidden */
    position: absolute;
	border: 1px solid #8d8741; /* new */
	border-radius: 6px; /* new */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1
}

.dropdown.dark-mode {
	border: 1px solid #fff;
	background-color: #000
}

.checkbox {
    margin-bottom: 5px
}

#dateIcon {
    transition: transform 0.3s ease; /* This ensures a smooth transition for both directions */
}

.rotate-date {
    transform: rotate(180deg); /* Rotates the icon to indicate descending order */
}

.expand-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.icon-img {
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px
}

.notes-img {
  position: relative;
  width: 12px;
  height: 12px
}

.divTableHeading {
	background-color: #eee;
	display: table-header-group;
	font-weight: bold
}
.divTableFoot {
	background-color: #eee;
	display: table-footer-group;
	font-weight: bold
}
.divTableBody {
	display: table-row-group
}

.disclaimer {
  margin: 1.5em 10px;
  padding: .5em 10px;
  margin-left: 3em;
  font-size: 12px;
  text-align: center;
  font-style: italic
}

.blockquote-container {
  quotes: "\201C""\201D""\2018""\2019";
}

.blockquote {
  background-color: #f9f9f9;
  border-left: 10px solid #bc986a;
  margin: 1.5em 10px;
  padding: .5em 10px;
  margin-left: 3em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px
}

.blockquote::before {
  content: open-quote
}

.blockquote::after {
  content: close-quote
  /*font-size: 0px*/
}

.blockquote2 {
	background-color: #f9f9f9;
	border-left: 10px solid #bc986a;
	margin: 1.5em 10px;
	padding: .5em 10px;
	margin-left: 3em;
	font-style: italic;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px
}
.blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em
}
.blockquote.dark-mode {
	background-color: #000;
	border-left: 10px solid #fff
}
.blockquote2.dark-mode {
	background-color: #000;
	border-left: 10px solid #fff
}
.italicText {
	font-style: italic;
	font-family: 'Roboto', sans-serif
}